.mainForm {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  min-height: 250px;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 30px;
  outline: none;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 10px;
}

.inputField {
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  border: 1px solid grey;
}

.inputField:focus {
  box-shadow: 0 0 3pt 2pt lightskyblue;
  outline: none;
}

.signInButton {
  margin-top: 50px;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  background-color: #31c052;
  transition: all 0.4s ease;
  border: 1px solid grey;
  outline: none;
  color: white;
}

.signInButton:hover {
  background-color: #2aa346;
  transition: all 0.4s ease;
}

.errorMessage {
  background-color: lightcoral;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
